image: openjdk:11

stages:
  - gradleBuild
  - gradleTest

gradle-build:
  stage: gradleBuild
  script:
    - ./gradlew jar

gradle-test-analyser:
  stage: gradleTest
  script:
    - ./gradlew clean test --tests 'wacc48.analyser.*'

gradle-test-arm:
  stage: gradleTest
  script:
    - ./gradlew clean test --tests 'wacc48.generator.arm.*'

gradle-test-x86:
  image: adoptopenjdk/openjdk11:x86_64-ubuntu-jdk-11.0.10_9
  stage: gradleTest
  script:
    - apt-get update
    - apt-get install -y nasm
    - apt-get install -y build-essential
    - apt-get install -y gcc-multilib
    - ./gradlew clean test --tests 'wacc48.generator.x86.*'

gradle-test-shell:
  stage: gradleTest
  script:
    - ./gradlew clean test --tests 'wacc48.generator.wacc48.shell.*'